.custom-navbar {
  background-color: #3f3d56; 
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.1);

}

.login-image {
  width: 80%;
  height: auto;
}

.custom-color {
  background-color: #efc38b !important;
  box-shadow: -4px 4px 0 #ef938f !important;
  transition: all 0.3s ease;
  border: none;
  color: #000 !important; 
}

.custom-color:hover {
  background-color: #ef938f !important;
  box-shadow: -4px 4px 0 #efc38b !important;
  color: #000 !important;
}

body {
  padding-top: 70px;  /* 依 Navbar 的高度調整 */
}
